In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
from sklearn.preprocessing import minmax_scale

In [ ]:
# !wget https://archive.ics.uci.edu/ml/machine-learning-databases/00577/codon_usage.csv.zip

In [ ]:
# !unzip codon_usage.csv.zip

In [3]:
def read_data(file_name):
    """
    Reads in a csv file and returns a dataframe
    """
    return pd.read_csv(file_name, low_memory=False)

dataset = read_data('codon_usage.csv')

In [ ]:
dataset.shape

In [ ]:
dataset.info()

In [ ]:
# dataset = read_data('codon_usage.csv')
dataset.describe(include='all')

In [7]:
dataset = dataset.drop(dataset[dataset['SpeciesID']==353569].index)

In [8]:
# dataset = read_data('codon_usage.csv')
dataset.describe(include='all')

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
count,13027,13027.000000,13027.000000,1.302700e+04,13027,13027,13027,13027.000000,13027.000000,13027.000000,...,13027.000000,13027.000000,13027.000000,13027.000000,13027.000000,13027.000000,13027.000000,13027.000000,13027.000000,13027.000000
unique,11,NaN,NaN,NaN,13015,4790,4120,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,bct,NaN,NaN,NaN,Escherichia coli O157,0,0.01911,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2919,NaN,NaN,NaN,4,81,43,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.367237,130433.978583,7.961174e+04,NaN,NaN,NaN,0.020637,0.014104,0.017821,...,0.005452,0.009929,0.006422,0.024179,0.021166,0.028290,0.021683,0.001642,0.000590,0.006178
std,NaN,0.688745,124776.561488,7.197283e+05,NaN,NaN,NaN,0.020710,0.009280,0.010587,...,0.006601,0.008574,0.006387,0.013827,0.013040,0.014343,0.015018,0.001794,0.000882,0.010345
min,NaN,0.000000,7.000000,1.000000e+03,NaN,NaN,NaN,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,28850.500000,1.602000e+03,NaN,NaN,NaN,0.005610,0.007105,0.010890,...,0.001220,0.001690,0.001170,0.012385,0.011860,0.017360,0.009710,0.000560,0.000000,0.000410
50%,NaN,0.000000,81971.000000,2.929000e+03,NaN,NaN,NaN,0.015260,0.013360,0.016130,...,0.003530,0.009270,0.004540,0.025420,0.019070,0.026080,0.020540,0.001380,0.000420,0.001130
75%,NaN,1.000000,222890.000000,9.120000e+03,NaN,NaN,NaN,0.029490,0.019805,0.022730,...,0.007150,0.015925,0.010250,0.034190,0.027690,0.036800,0.031125,0.002370,0.000830,0.002890
max,NaN,12.000000,465364.000000,4.066258e+07,NaN,NaN,NaN,0.151330,0.101190,0.089780,...,0.055540,0.098830,0.058430,0.185660,0.113840,0.144890,0.158550,0.045200,0.025610,0.106700

In [9]:
dataset.isnull().sum()

Kingdom        0
DNAtype        0
SpeciesID      0
Ncodons        0
SpeciesName    0
              ..
GAA            0
GAG            0
UAA            0
UAG            0
UGA            0
Length: 69, dtype: int64

In [15]:
print(dataset.Kingdom.unique())
len(dataset.Kingdom.unique())

['vrl' 'arc' 'bct' 'phg' 'plm' 'pln' 'inv' 'vrt' 'mam' 'rod' 'pri']

11

In [ ]:
dataset

In [17]:
# dataset.dropna(inplace=True)

dataset['Kingdom'].value_counts()

bct    2919
vrl    2832
pln    2523
vrt    2077
inv    1345
mam     572
phg     220
rod     215
pri     180
arc     126
plm      18
Name: Kingdom, dtype: int64

In [ ]:
print(dataset.isnull().sum())

In [ ]:
dataset['Kingdom'].unique()

In [ ]:
dataset

In [ ]:
dataset['UUU'] = dataset['UUU'].astype(float)
dataset['UUC'] = dataset['UUC'].astype(float)

cols = dataset.select_dtypes(np.number).columns

num_columns_list = list(cols)
# num_columns_list

# num_columns_list.remove('Kingdom')
num_columns_list.remove('DNAtype')
num_columns_list.remove('SpeciesID')
num_columns_list.remove('Ncodons')

for num_column in num_columns_list:
    dataset[num_column] = minmax_scale(dataset[num_column])
    # df['a'] = minmax_scale(df['a'])

In [ ]:
species_kingdoms = dataset['Kingdom'].unique()

In [ ]:
features = dataset.columns[5:].values

In [ ]:
features

In [ ]:
def hist_plot(feature,  classes='Kingdom'):
    """
    Plots a histogram of a feature
    """
    sns.displot(data=dataset, x=feature, hue=classes)
    plt.title(feature)
    plt.show()
    


def boxplot_plot(feature, classes='Kingdom', axes=None):
    """
    Plots a boxplot of a feature
    """
    sns.boxplot(x=classes, y=feature, data=dataset, ax=axes)
    plt.title(feature)
    plt.show()

In [ ]:
# anomaly_lister = ['UUU','UUC']
anomaly_lister = []
for feature in features:
    hist_plot(feature, classes='Kingdom_Class')
    if feature not in anomaly_lister:
        print(feature)
        boxplot_plot(feature, classes='Kingdom_Class')

In [ ]:
plt.figure(figsize=[100,80])
sns.heatmap(dataset.corr(), annot=True, cmap = 'viridis_r', fmt = '.2f')
plt.savefig('heatmap.pdf')

In [ ]:
dataset['Kingdom_Class'] = dataset['Kingdom'].map({   'arc': 0, 'bct': 0, 
                                                'phg': 0, 'plm': 0, 'vrl':0, 
                                                'pln': 1, 'inv': 1, 
                                                'vrt': 1, 'mam': 1,
                                                'rod': 1, 'pri': 1})

In [ ]:
# anomaly_lister = ['UUU','UUC']
anomaly_lister = []
for feature in features:
    hist_plot(feature, classes='Kingdom_Class')
    if feature not in anomaly_lister:
        print(feature)
        boxplot_plot(feature, classes='Kingdom_Class')

In [ ]:
plt.figure(figsize=[100,80])
sns.heatmap(dataset.corr(), annot=True, cmap = 'viridis_r', fmt = '.2f')
plt.savefig('heatmap.pdf')